
<h1><%= t('dashboard.title') %></h1>

<nav>
  <p>
    <%= link_to t('clients.new.title'), new_client_path %>
  </p>
</nav>

<section>
  <%= render @clients %>
</section>



<aside class="help">
  <h3><%= t('help.title') %></h3>
  <details>
    <summary><%= t('endpoint.help') %></summary>
    <dl>
      <dt><%= t('endpoint.authorization') %></dt>
      <dd><code><%= new_authorization_url %></code>
      <dt><%= t('endpoint.token') %></dt>
      <dd><code><%= access_tokens_url %></code>
      <dt><%= t('endpoint.userinfo') %></dt>
      <dd><code><%= user_info_url %></code>
    </dl>
  </details>
</aside>



