

<h1 class="title">Fake Users</h1>

<%= link_to 'New Fake User...', new_fake_user_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name <th>Email  <th>Address  <th>Profile  <th>Locale  <th>Phone Number
    </tr>
  </thead>

  <tbody>
<% @fake_users.each do |fake_user| %>
    <tr>
      <td><%= fake_user.name %>
      <td><%= fake_user.email %>
      <td><%= fake_user.address %>
      <td><%= fake_user.profile %>
      <td><%= fake_user.locale %>
      <td><%= fake_user.phone_number %>

      <td><%= link_to 'Show', fake_user %></td>
    </tr>
<% end %>
  </tbody>
</table>

