
<fieldset class="client">
  <h3>
    <%= client.name %>
    <code class="redirect_uris"><%= client.redirect_uris.try(:join, ' ') %></code>
  </h3>
  <details>
    <summary><%= t('client.credentials') %></summary>
    <dl>
      <dt><%= t('client.identifier') %>
      <dd><code><%= client.identifier %></code>
      <dt><%= t('client.secret') %></dt>
      <dd><code><%= client.secret %></code>
    </dl>
    <nav class="authorize">
      <h4><%= t('authorizations.new.title', client:client.name) %></h4>
      <ul>
        <% Client.available_response_types.each do |response_type| %>
          <li>
            <%= form_tag new_authorization_path, method: :get do %>
              <%= hidden_field_tag :client_id, client.identifier %>
              <%= hidden_field_tag :response_type, response_type %>
              <%= hidden_field_tag :scope, Scope.all.collect(&:name).join(' ') %>
              <%= submit_tag response_type %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </details>
  <footer>
      <%= link_to 'Edit...', edit_client_path(client) %>
      <%= button_to t('destroy'), client_path(client), 
                  method: :delete, data:{turbo_confirm:'Are you sure?'}, class:"button", form:{class:"is-inline-block"} %>
  </footer>
</fieldset>
