
<fieldset class="client">
  <h3 class="title is-3"><%= client.name %></h3>
  <p><%= t('client.identifier') %>
    <code><%= client.identifier %></code>

  <details>
    <summary>Details:</summary>
    <dl>
      <dt>Redirect URIs:
      <dd><% client.redirect_uris.each do |uri| %>
        <code class="redirect_uris"><%= uri %></code>
        <% end %>

      <dt><%= t('client.secret') %></dt>
      <dd><code><%= client.secret %></code>
    </dl>
    <nav class="authorize">
      <h4 class="title is-4"><%= t('authorizations.new.title', client:client.name) %></h4>
      <ul>
        <% Client.available_response_types.each do |response_type| %>
          <li>
            <%= form_tag new_authorization_path, method: :get, data:{turbo:false} do %>
              <%= hidden_field_tag :redirect_uri, client.redirect_uris.first %>
              <%= hidden_field_tag :nonce, "XXX" %>
              <%= hidden_field_tag :code_challenge_method, "S256" %>
              <%= hidden_field_tag :client_id, client.identifier %>
              <%= hidden_field_tag :response_type, response_type %>
              <%= hidden_field_tag :scope, Scope.all.collect(&:name).join(' ') %>
              <%= submit_tag response_type %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </details>
  
  <footer>
      <%= link_to 'Edit...', edit_client_path(client) %>
      <%= button_to t('destroy'), client_path(client), 
                  method: :delete, data:{turbo_confirm:'Are you sure?'}, class:"button", form:{class:"is-inline-block"} %>
  </footer>
</fieldset>
