
<% # @param client
   # @param redirect_uris
   # @param f
  %>

  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :name, :class => 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.text_field :name, :class => 'input' %>
        </div>
      </div>
    </div>
  </div>
<% (0..(redirect_uris.size + 1)).each do |i| 
     redirect_uri = redirect_uris[i] || "" %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :redirect_uri, :class => 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= url_field_tag 'client[redirect_uris][]', redirect_uri, :class => 'input' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

