
<% # @param client
   # @param redirect_uris
   # @param f
  %>

  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<% redirect_uris.each do |redirect_uri| %>
<div>
  <%= f.label :redirect_uri %>
  <%= url_field_tag 'client[redirect_uris][]', redirect_uri %>
</div>
<% end %>

<div>
  <%= f.label :redirect_uri %>
  <%= url_field_tag 'client[redirect_uris][]', '' %>
</div>
