
<p>[DEBUG] <b>params:</b> <%= @request_object.params %>


  
<h1><%= t('authorizations.new.title', client: @client.name) %></h1>
    
<p><%= t('authorizations.new.description', redirect_uri: @redirect_uri) %></p>

<%= form_tag authorizations_path do %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Fake User:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="select">
            <select name="fake_user" >
              <%= options_from_collection_for_select(FakeUser.all, :id, :name) %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /.field -->

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label"><%= t('authorization.scope') %></label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
<% @scopes.each do |scope| %>
          <label class="checkbox">
<% if scope.name == 'openid' %>
            <%= hidden_field_tag 'scope[openid]', 1 %> ✓ 
<% else %>
            <%= check_box_tag "scope[#{scope.name}]", '1', true %>
<% end %>
            <%= scope.name %>
          </label>
<% end %>
        </div>
      </div>
    </div>
  </div> <!-- /.field -->
  
  
<% # 二つの RP から並列にリダイレクトしてこれるようにするため,
   # viewstate で区別する
  %>
  <%= hidden_field_tag '_viewstate', @viewstate %>

<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">    
        <%= submit_tag "Deny", name:'deny', class:'button is-danger', data:{turbo:false} %>
        <%= submit_tag "Approve", name:'approve', class:'button is-primary', data:{turbo:false} %>
      </div>
    </div>
  </div>
</div>

<% end %>
  
