<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title><%= content_for(:title) %> - OpenIDConnect OP (IdP) Sample</title>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="/bulma1/css/bulma.min.css" />
  <%= javascript_include_tag "application", 
                             "data-turbo-track": "reload", type: "module" %>
  <!-- All of BulmaJS -->
  <script src="/bulmajs/bulma.js"></script>
</head>
<body>
  <%= yield :body_connect_fb %>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= t('site.description') %>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu"
       aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/fake_users/">Fake Users</a>
    </div>

    <div class="navbar-end">
<% if current_user %>
      Admin: <%= current_user.name %> &lt;<%= current_user.email %>&gt;
      Last login at <%= current_user.last_login_at %>
      <%= form_tag session_path, method: :delete do  %>
        <%= submit_tag 'Logout', class:'button' %>
      <% end %>
<% else %>
      Not logged in  
<% end %>
    </div>
  </div>
</nav>


<div class="content is-normal">

<% if (str = flash[:notice]) %>
<div class="notification is-info" >
  <button class="delete"></button>
  <%= str %>
</div>
<% end %>
<% if (str = flash[:alert]) %>
<div class="notification is-danger is-light" >
  <button class="delete"></button>
  <%= str %>
</div>
<% end %>


  <%= yield %>

</div> <!-- /.content -->



<footer class="page_footer">
  <ul>
    <li>
      <%= link_to 'OpenID Connect RubyGem', 'https://github.com/nov/openid_connect/' %>
    </li>
    <li>
      This <i>Rails OpenID Connect IdP AS</i> (former OpenID Connect OP Sample) 
        <%= link_to 'GitHub', 'https://github.com/netsphere-labs/rails-openid-connect-idp-as/' %>
    </li>
    <li>
       <i>Rails OpenID Connect RP Sample</i>
        <%= link_to 'GitHub', 'https://github.com/netsphere-labs/rails-openid-connect-rp-sample/' %>
    </li>
  </ul>
  
  &copy; <%= link_to 'nov matake', 'https://github.com/nov/' %>
  <address>&copy; <%= link_to 'Hisashi Horikawa', 'https://www.nslabs.jp/' %></address>
</footer>
</body>
</html>
