<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>OpenidConnectOpSample</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="/uikit3/css/uikit.min.css" />
  <script src="/uikit3/js/uikit.min.js"></script>
  <script src="/uikit3/js/uikit-icons.min.js"></script>
        
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <%= yield :body_connect_fb %>

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <%= t('site.description') %>
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="/fake_users/">Fake Users</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <% if current_user %>
      Admin: <%= current_user.name %> &lt;<%= current_user.email %>&gt;
      Last login at <%= current_user.last_login_at %>
      <%= form_tag session_path, method: :delete do  %>
        <%= submit_tag 'Logout', class:'uk-button uk-button-secondary' %>
      <% end %>
    <% else %>
      Not logged in  
    <% end %>
  </div>
</nav>

<% if (str = flash[:notice]) %>
<div class="uk-alert-success" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p><%= str %>
</div>
<% end %>
<% if (str = flash[:alert]) %>
<div class="uk-alert-danger" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p><%= str %>
</div>
<% end %>

    <%= yield %>

<footer class="page_footer">
  <ul>
    <li>
      <%= link_to 'OpenID Connect RubyGem', 'https://github.com/nov/openid_connect/' %>
    </li>
    <li>
      This ConnectOpSample (
        <%= link_to 'GitHub', 'https://github.com/netsphere-labs/openid_connect_sample/' %>
      )
    </li>
    <li>
      Nov's RP (
        <%= link_to 'GitHub', 'https://github.com/nov/openid_connect_sample_rp' %>
      )
    </li>
  </ul>
  
  &copy; <%= link_to 'nov matake', 'https://github.com/nov/' %>
  <address>&copy; <%= link_to 'Hisashi Horikawa', 'https://www.nslabs.jp/' %></address>
</footer>
</body>
</html>
